.list-notes {
    border-radius: 5px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1400px;
    margin-inline: auto;
    padding: 1rem;
}

.list-notes-item {
    border-radius: 5px;
    border: 1px solid;
    min-height: 150px;
    min-width: 250px;
    padding-inline: 0.5rem;
}