.list-notes {
    border-radius: 5px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1280px;
    margin-inline: auto;
    padding: 1rem;
    justify-content: space-around;
}