.App {
  max-width: 1360px;
  min-width: 300px;
  margin-inline: auto;
  padding: 1rem;
  min-height: 100vh;
  color: #fefefe;
}

.App-title {
  text-align: center;
  margin-top: 0;
}

@media (min-width:600px){
  .App {
    margin-top: 0.5rem;
  }
}