.App {
  max-width: 1360px;
  min-width: 300px;
  margin-inline: auto;
  padding: 1rem;
  border: solid 1px;
  min-height: 100vh;
  color: #fefefe;
}

.App-title {
  text-align: center;
  margin-top: 0;
}